@import "./variables";

.banner{
    margin: 5vw;
    height: 70vh;
    background-size: cover;
    border: 3px solid $main-color-1;
    color: $background-color;
    article{
        margin: 12vh 10vw;
        h2{
            font-size: 4rem;
            font-family: $header-font;
        }
        p{
            font-size: 1.7rem;
            width: 80%;
        }
    }
}