@import "./variables";

footer{
    background-color: $main-color-1;
    padding: 1vw;
    .upper-footer{
        display: grid;
        grid-template-columns: 1fr 3fr;
        color: $background-color;
        margin: 2vw;
        .opening-hours{
            h2{
                font-size: 2rem;
                border-bottom: 4px solid $background-color;
                width: 70%;
                padding: 0 1vw;
                margin-bottom: 5vh;
            }
            p{
                font-size: 1.4rem;
                margin: 1vh 0;
            }
        }
        .footer-nav{
            display: flex;
            font-size: 1.4rem;
            .links{
                margin: 0 3vw;
                h4{
                    font-size: 1.4rem;
                    font-weight: 700;
                }
                div{
                    margin: 0.5vw;
                    a{
                        display: flex;
                        align-items: center;
                        margin: 1.5vh 0;
                        text-decoration: none;
                        color: $background-color;
                        &:hover{
                            color: $secondary-color;
                            svg{
                                path{
                                    fill: $secondary-color;
                                }
                            }
                        }
                        svg{
                            height: 3vh;
                            }
                        }
                    }
                }
            }
        }
    }
    .lower-footer{
        display: flex;
        align-items: center;
        margin: 0 2vw;
        h4{
            color: $background-color;
            font-size: 1.2rem;
            margin-right: auto;
        }
        img{
            height: 6vh;
        }
    }