@import "./variables";

header{
    height: 70vh;
    background-size: cover;
    padding: 3vw;
    h1{ 
        font-family: $header-font;
        font-size: 10rem;
        color: $background-color;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $main-color-1;
        border-bottom: 5px solid $main-color-1;
        max-width: 55%;
        padding: 0;
        line-height: 14vh;
    }
    button{
        background-color: $main-color-2;
        padding: 0 3.5vw;
        display: flex;
        gap: 0.5vw;
        align-items: center;
        border-radius: 100px;
        position: relative;
        left: 66vw;
        top: 12vh;
        height: 20vh;
        border: none;
        &:hover{
            cursor: pointer;
        }
        p{
            font-size: 5rem;
            font-family: $header-font;
            color: $background-color;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: $main-color-1;    
        }
    }
}