.modal{
    background-color: rgba(0, 0, 0, 0.479);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
        position: absolute;
        top: 3vw;
        right: 6vw;
        &:hover{
            cursor: pointer;
        }
    }
}