nav{
    background-color: $main-color-1;
    display: flex;
    align-items: center;
    padding: 0.5vw 5vw;
    font-weight: 900;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    .left-nav{
        display: flex;
        align-items: center;
        gap: 3vw;
        .logo{
            margin-right: auto;
            width: 10vw;
            color: $background-color;
            text-decoration: none;
        }
        .cat-container{
            &:hover{
                .cat-tab{
                    display: block;
                    .cat-link{
                        width: 10vw;
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        align-items: center;
                        justify-content: center;
                        gap: 1vw;
                        border-bottom: 3px solid black;
                        margin-bottom: 1vh;
                        padding-bottom: 1vh;
                        svg{
                            height: 8vh;
                            width: 100%;
                        }
                    }
                }
            }
            .categories{
                color: $background-color;
                font-weight: 100;
                font-size: 1.5rem;
                &:hover{
                    cursor: pointer;
                    color: $secondary-color;
                }
            }
            .cat-tab{
                position: absolute;
                background-color: $main-color-2;
                padding: 2vw;
                border-radius: 5%;
                display: none;
            }
        }
    }
    .map-icon-container{
        margin-right: 3vw;
        display: flex;
        align-items: center;
        gap: 1vw;
        &:hover{
            cursor: pointer;
            p{
                color: $secondary-color;
            }
            svg{
                path{
                    fill: $secondary-color;
                }
            }
        }
        p{
            color: $background-color;
            font-weight: 200;
            font-size: 1.5rem;
        }
        .map-icon{
            width: 1.8vw;
            fill: black;
        }
    }
    .icons{
        display: flex;
        gap: 3vw;
        a{
            display: flex;
            align-items: center;
            color: $background-color;
            font-size: 1.5rem;
            font-weight: 200;
            text-decoration: none;
            &:hover{
                color: $secondary-color;
                div{
                    svg{
                        path{
                            fill: $secondary-color
                        };
                    }
                }
            }
            div{
                display: flex;
                gap: 1vw;
                align-items: center;
            }
        }
    }
}
