@import "./variables";

.search-bar{
    display: flex;
    align-items: center;
    margin: auto;
    svg{
        height: 2vw;
        background-color: black;
        width: 2vw;
        padding: 1vw;
        border-radius: 100%;
        position: relative;
        left: 4vw;
        &:hover{
            background-color: $main-color-2;
            path{
                stroke: $secondary-color;
            }
            cursor: pointer;
        }
    }
    input{
        height: 3.9vw;
        border-radius: 40px;
        border: none;
        padding: 0 4.5vw;
        font-size: 1.5rem;
        background-color: $background-color;
        &:focus{
            outline: none;
        }
    }
}