@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


$main-font: 'Roboto', sans-serif;
$header-font: 'Bebas Neue', cursive;
$main-color-1: #a8571d;
$main-color-2: #43acb5;
$secondary-color: #a5f0f7;
$background-color: #f8f5f2;
